.footer {
  position: relative;
  top: auto;
  bottom: 0;
  padding: 1.6rem;
  width: 100%;
  height: auto;

  &__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.6rem;
  }

  &__logotipo {
    height: 100%;
    max-height: 3.2rem;
    & img {
      width: 100%;
      max-height: 1.6rem;
      height: 100%;
    }
  }
}
