@use "../abstracts/extends" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

input {
  flex: 1;
  height: 3.2rem;
  width: 100%;
  border: none;
  background: transparent;
}

button,
a {
  @include display-flex(
    $direction: row,
    $justify: center,
    $align: center,
    $gap: 0
  );

  color: $white;
  background-color: none;
  border: none;
  padding: 0.8rem;
  height: 3.2rem;
  width: 3.2rem;
}

select {
  color: $white;
  background-color: none;
  border: none;
  flex: 1;
  padding: 0.8rem;
  height: 3.2rem;
  width: 100%;
  width: 13rem;
}
